<style>
	
	#mainContainer{
		width:100%;
	}

	#leftPanel{
		text-align: right;
	}
	#myimage{
		height: 300px;
	 	-webkit-transform: rotate(-45deg);
	 	position: relative;
	 	left:-10px;
	 	z-index: 200;
	 	padding-top: 50px;
	 	
	}

	#rightPanel{
		height: 700px;
    	border-width: 1px;
    	border-style:none none none solid;
    	border-color: #e6e6e6;
    	padding-left: 5%;
    	padding-top: 100px;
    	margin-right: 50px;
	}

	.icon:hover{
		animation-name: imageWobble;
    	animation-duration: 4s;
	}
	#LeftMenu{
		position: relative;
		top:50px;
	}
	#LeftMenu li {
		height: 35px;
		font-size: 20px
	}
	td{
		vertical-align: top;
		padding-right:40px;
	}
	a {
		color: #7d33cc;
	}
	body{
		background: linear-gradient(to right,white, pink)
	}
	@keyframes imageWobble {
	    0%   {-webkit-transform: rotate(0deg);}
	    25%  {-webkit-transform: rotate(-45deg);}
	    50%  {-webkit-transform: rotate(0deg);
	}
</style>

<script>
	class Control{

		constructor(k){
			this.html = "";
			var that = this;
			switch(k.type){
				case "list" : 
					that.html = "<ul>";
					angular.forEach(k.listitems,function(v,k){
						that.html += "<li>" + v + "</li>"
					})
					this.html += "</ul>"
					break;
				case "html" : 
					that.html += k.html
					break;
				case "keyval" :
					that.html += k.key + " : " + k.value + "<br>";
					// that.html += k.key + " : " + k.value + "<br>";
					break;
				case "minorHeading" : 
					that.html += "<h3>" + k.value + "</h3>"	;
					break;
				case "table" :
					that.html = "<table>";
					var itemNumber  = 0;
					for(var i=0;i<k.rows;i++){
						that.html += "<tr>";
						for(var j=0;j<k.columns;j++){
							that.html += "<td>" + k.listitems[itemNumber++] + "</td>"
						}
						that.html += "</tr>"
					}
					that.html += "</table>";
					break;
				case "keyValueList" : 
					that.html = "<table>";
					var itemNumber  = 0;
					for(var i=0;i<k.items.length;i++){
						that.html += "<tr>";
						that.html += "<td>" + k.items[i].key  +"</td>" + "<td>" + k.items[i].value + "</td>";
						that.html += "</tr>"
					}
					that.html += "</table>";
					break;				 
				default : 
					that.html = ""
			}
		}
		markup(){
			return this.html;
		} 
	}


	var app = angular.module('portfolio',['ngSanitize']);
	app.controller('mainController',function($scope,$http){
		var data;
		$scope.rightPanel = {
			label : "Asdas"
		};
		$http.get('/data').then(function(resData){
			data = resData.data
			console.log(data);
			$scope.personalInfo = data.personalInfo
			$scope.pages = data.pages

			angular.forEach(data.pages,function(value,key){
				value.populate = function(){
					$scope.rightPanel.label = value.label;
					$scope.rightPanel.desc = "";

					angular.forEach(value.controls, function(eachControl,key2){
						var control = new Control(eachControl);
						$scope.rightPanel.desc +=  control.markup();
					})


				}
			})

			data.pages.Personal.populate();
		})
	})

	


</script>


<body>
	<div id="mainContainer" class="container">
		<div class="row">
			<div id="leftPanel" class="col-md-3">
				<div class="icon">
					<img id="myimage" src="public/resources/me.jpg">	
				</div>
				<div id="LeftMenu">
					<ul class="list-unstyled">
						<li ng-repeat="page in pages"><span class="button hvr-float-shadow" ng-click="page.populate()">{{ page.label }}<span></li>
					</ul>
				</div>
			</div>
			<div id="rightPanel" class="col-md-6"  >
				<h1>{{ rightPanel.label }}</h1>
				<hr>
					<p style="overflow-y: auto;height:70vh;" ng-bind-html="rightPanel.desc"> </p>
			</div>

		</div>
	</div>
</body>

